.swiper-container
  width: 100%
  height: 100%
  border-radius: $border-radius

  .swiper-container
    width: 100%
    height: 100%

  .swiper-slide
    background-position: center
    background-size: cover


// BULLET
.swiper-pagination-bullet
  width: 12px
  height: 12px
  background-color: $white
  opacity: .6

.swiper-pagination-bullet-active
  background-color: $primary
