.transition-all
  @include transition(all .3s ease-in-out)

.show-on-hover
  opacity: 0

.show-on-hover-toggle:hover
  .show-on-hover
    opacity: 1


  .show-on-bottom
    bottom: 50%


.show-on-bottom
  bottom: 0



.animation-gallery
  position: relative
  overflow: hidden

  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: rgba(4,59,83,0)
    transition: all .3s ease-in-out


  &:hover
    &:before
      background: rgba(4,59,83,.6)
