// background

.bg-cover
  background-size: cover


// Variant Height

.height-sm
  height: $height-sm

.height-md
  height: $height-md

.height-lg
  height: $height-lg


// Line Height

.lh-0
  line-height: 0

.lh-1
  line-height: 1

.lh-sm
  line-height: $line-height-sm

.lh-xs
  line-height: $line-height-xs


// Position

.pos-top
  top: 0

.pos-bottom
  bottom: 0

.pos-left
  left: 0

.pos-right
  right: 0


// Opacity

@for $i from 1 through 9
  .op-#{$i}
    opacity: $i/10

.op-none
  opacity: 1
