// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// stylelint-disable
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  2: ($spacer/4),
  5: ($spacer/2),
  10: ($spacer),
  15: ($spacer * 1.5),
  20: ($spacer * 2),
  30: ($spacer * 3),
  40: ($spacer * 4),
  50: ($spacer * 5),
  60: ($spacer * 6),
  70: ($spacer * 7),
  80: ($spacer * 8)
), $spacers);

// Colours
// ------------------------------

$purple:        #f73d4a;
$blue-dark:     #043b53;
$blue-light:    #18a0b0;
$blue-soft:     #D2E5E9;
$white:         #ffffff;
$black:         #000000;


$primary:       $blue-dark;
$secondary:     $blue-light;
$info:          $purple;


// Typography
// ------------------------------


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case

$font-family-sans-serif:      "Roboto", sans-serif;
$font-family-heading:         "Luckiest Guy", cursive;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1rem;
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$headings-margin-bottom:      ($spacer / 2);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12;
$grid-gutter-width:           20px;


// Utilities
// ------------------------------

$height-sm:           200px;
$height-md:           300px;
$height-lg:           400px;

// Line heights
$line-height-lg:              1.5 !default;
$line-height-sm:              .875 !default;
$line-height-xs:              .675 !default;


// Buttons
// ------------------------------
$btn-padding-x:               1.875rem;
$btn-border-radius:           25px;


// Buttons + Forms
// ------------------------------

$input-btn-padding-y:         0.625rem !default;
$input-btn-padding-x:         1.25rem !default;
$input-btn-line-height:       $line-height-base !default;



// Shadows
// ------------------------------

$box-shadow-sm:               0 .125rem .35rem rgba($black, .15);
$box-shadow:                  0 .2rem 2.5rem -.3rem rgba($black, .1);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);


// Border
// ------------------------------

$border-radius:               .6rem;
$border-radius-lg:            .4rem;
$border-radius-sm:            .35rem;


// Badge
// ------------------------------

$badge-font-weight:        $font-weight-normal;


// Cards
// ------------------------------

$card-border-radius:       $border-radius;


// List Group
// ------------------------------

$list-group-item-padding-y-sm:         .375rem !default;
$list-group-item-padding-x-sm:         1.25rem !default;
