@mixin text-size($parent, $size)
  #{$parent}
    font-size: $size !important

@mixin text-weight($parent, $weight)
  #{$parent}
    font-weight: $weight !important


@mixin text-color($parent, $color)
  #{$parent}
    color: $color
