/* ==========================================================================
   Colours

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */
   
// Greys
// -------------------------
@grey-darkest				: #444444; /*PF*/
@grey-darker				: #333333;
@grey-dark					: #555555;
@grey						: #aaaaaa;
@grey-light					: #dddddd;
@grey-lighter				: #eeeeee;
@grey-lightest				: #f5f5f5; /*PF*/
@grey-lightest-more			: #e3e3e3; /*PF*/
@grey-light-blue	     	: #0b55c4; /*PF*/

// white
// -------------------------
@white				        : #ffffff; /*PF*/
@white-darker		        : #e6e6e6; /*PF*/



// Primary
// -------------------------
@primary					: #2b579a;
@primary-light				: #92bce0;
@primary-lighter			: #e1edf7;
@primary-dark				: darken( @primary, 15% );

// Forms
// -------------------------
@form-blue					: #66afe9;

// Toolbar
// -------------------------
@toolbar-active				: #c2d5f2;
@toolbar-active-hover		: #a3bde3;
@toolbar-hover				: #d5e1f2;
@toolbar-click				: #a3bde3;
@toolbar-disabled			: transparent;
@toolbar-disabled-hover		: transparent;

// Blues
// -------------------------
@blue-dark					: #2274c9;
@blue-dark-hover			: #1e68b4;
@blue						: #3F8EDF;
@blue-hover					: #2981db;

// States
// -------------------------
@success					: @blue;
@success-hover				: @blue-hover;
@success-border				: @blue-dark;
@success-border-hover		: @blue-dark-hover;

@warning					: #f0ad4e;
@danger						: #d9534f;
@info						: #5bc0de;

// Scaffolding
// -------------------------
@body-bg					: #fff;
@chrome-bg					: #fafafa;
@chrome-border				: #cbcbcb;
@chrome-shadow				: lighten( @chrome-border, 14% );
@text-colour				: @grey-darker;

// Links
// -------------------------
@link-colour				: @primary;
@link-hover-colour			: darken( @link-colour, 15% );

// Hr border colour
// -------------------------
@hr-border					: @grey-light;

