html,
body
  height: 100%

body
  color: $primary
  font-family: $font-family-base

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6
  font-weight: $font-weight-light
  font-family: $font-family-heading

  strong
    color: $secondary
    display: block


// Navbar


.list-offers
  position: relative

  &:before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 50%
    background-color: $blue-soft
    z-index: -1


// Page header
.page-header
  border-bottom: 1px solid $border-color
  margin-bottom: 60px
  padding-bottom: 10px
  padding-top: 20px


// Rooms list
.list-decoration
  ul
    list-style: none
    padding-left: 0

    li
      position: relative
      padding: 3px 0px 3px 20px
      border-bottom: 1px solid $border-color

      &:after,
      &:before
        content: ""
        position: absolute
        left: 0
        top: 50%
        margin-top: -2.5px
        display: block
        width: 8px
        height: 8px
        border-radius: 8px
        background: $primary

      &:after
        left: 2px
        margin-top: -3.5px
        background-color: $secondary


// Avatar
.avatar
  img
    width: 48px
    height: 48px
    line-height: 48px
    border-radius: 100%


.chronoforms6_credits
  @extend .d-none
